body {
  background: #eee;
  font-family: sans-serif;
  margin: 8px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin: 8px;
  padding: 3px;
}

.content {
  background: #e3f4ff;
  padding: 3px;
  margin: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 3px;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
}